@{
    ViewData["Title"] = "About";
    ViewData["Professor"] = "Nelio Alves";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<adress>
    <strong>More information: </strong> <a href="www.educaweb.com.br">EducaWeb.com</a>
</adress>


<p>@ViewData["Email"]</p>